#quotesection{
  background-color: #BCF4DD;
  margin: 25vh 15vw;
  padding: 10vh 12vw 12vh 12vw;
  border-radius: 40px;
  height: 25vh;
}

button{
font-size: 30px;
  padding: 3vh 3vw;
background-color: #718AF6;
  margin-top: 5vh;
    border-radius: 8px;
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
  position:absolute;
  bottom:300px;
  right:600px;
}

button:hover{
  border: #fff solid 1px;
}

button:active{
  color: #999999;
}

h1{
  color: #718AF6;
font-family: 'Titillium Web', sans-serif;
}
