body{
  background-color: #001f3f;
}
h1 {
color: #2ECC40;
  text-align: center;
text-decoration: underline;
font-size: 50px

}

p {
  color: #2ECC40
}

h2{
display: inline-block;
  color:#2ECC40;
  border-width: 5px;
  border-style:double;
  border color: #2ECC40

border-radius: 10px;
padding:10px;
}
ul{
  color:#2ECC40;
}
h3{
  display: inline-block;
  color:#2ECC40;
  border-width: 5px;
  border-style: double;
  border color: #2ECC40

border-radius: 5px;
padding:10px;}
