/* #tabs{
  display: flex;
  margin: 10vh 10vw 0 10vw;
} */

#text{
  display:flex;
  margin: 0vh 10vw 0 10vw;
  padding-top: 15px;
  border: 1px solid #aaa;
  border-top: none;
}

.Day{
  flex-grow: 1;
  width: auto;
  border: 1px solid #aaa;
  background-color:#f3b41b;
}



}
#tabs{
display: flex;
  margin: 5vh 10vw 5vh 10vw;
color: #133d59;
margin-top: 2px;
  font-size: 6em;

}
 h3{
   font-family: 'Titillium Web', sans-serif;
   color: #133d59;
   font-size: 30px;
border-style: solid ;
border-color: #133d59;
border-radius: 15px;

 }

 h4{
   font-family: 'Titillium Web', sans-serif;
   color: #133d59;
 }
#Wednesdayitems, #Fridayitems{
  display: none;
}

.active{
  background-color: #blue;
  border-color: #133d59
  border-bottom:none;
}
