#tabs{
  display: flex;
  margin: 10vh 10vw 10vh 10vw;
}

#text{
  background-color: #f3b41b;
  display:flex;
  margin: 0vh 10vw 0vh 10vw;
  padding-top: 2px;
  border: 1px solid #133d59;
  border-top: none;
}







.Day{
  flex-grow: 1;
  width: auto;
  border: 1px solid ;
  background-color:#f3b41b;
}




#tabs{

  margin: 5vh 10vw 0vh 10vw;
color: #133d59;
margin-top: 10px;
  font-size: 25px;

}
 h3{
   font-family: 'Titillium Web', sans-serif;
   color: #133d59;
   font-size: 30px;
   margin-left: 20px;
border-width: thick;
   padding-left: 8px;
border-style: double ;
border-color: #133d59;
border-radius: 15px;

 }

 h4{
   font-family: 'Titillium Web', sans-serif;
   color: #133d59;
   margin-left: 50px;
 }
#Wednesdayitems, #Fridayitems{
  display: none;
}

#Monday:hover{background-color:
#abcdff}


#Wednesday:hover{background-color:
#abcdff}

#Friday:hover{background-color:
#abcdff}

.active{
  border-style: solid;
  border-width: thick;
  background-color: grey;
  border-color: #133d59
  border-bottom:none;

}
